version : "3.9"

services : 
      postgres: 
        image: postgres:16
        container_name: opsflow-postgres
        environment: 
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: opsflow
        ports: 
          - "5432:5432"
        healthcheck: 
          test: pg_isready -U postgres
          interval: 5s
          timeout: 5s
          retries: 5

      redis:
        image: redis:7
        container_name: opsflow-redis
        ports:
          - "6379:6379"
        healthcheck:
          test: redis-cli ping
          interval: 5s
          timeout: 5s
          retries: 5

      # api:
      #   build:
      #     context: ..
      #     dockerfile: apps/api/Dockerfile

      #   ports:
      #     - "3000:3000"
      #   depends_on:
      #     - postgres
      #     - redis
      #   environment:
      #     DATABASE_URL: postgresql://postgres:postgres@postgres:5432/opsflow
      #     REDIS_HOST: redis

      # worker:
      #   build: 
      #     context: ..
      #     dockerfile: apps/worker/Dockerfile
      #   depends_on:
      #     - postgres
      #     - redis
      #   environment:
      #     DATABASE_URL: postgresql://postgres:postgres@postgres:5432/opsflow
      #     REDIS_HOST: redis
        