version : "3.9"

services : 
      postgres: 
        image: postgres:16
        container_name: opsflow-postgres
        environment: 
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: opsflow
        ports: 
          - "5432:5432"
        healthcheck: 
          test: pg_isready -U postgres
          interval: 5s
          timeout: 5s
          retries: 5

      redis:
        image: redis:7
        container_name: opsflow-redis
        ports:
          - "6379:6379"
        healthcheck:
          test: redis-cli ping
          interval: 5s
          timeout: 5s
          retries: 5
        